<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask + TailwindCSS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <nav class="bg-gray-800 flex items-center justify-center flex-col">
        <a href="/" class="text-white text-3xl font-semibold my-3 flex items-center justify-center h-20">Flask+TailwindCSS</a>
        <ul class="flex items-center p-3 bg-gray-600 w-full justify-center">
            <li class="mx-2">
                <a href="/" class="text-white font-semibold">Home</a>
            </li>
            <li class="mx-2">
                <a href="#" class="text-white font-semibold">About</a>
            </li>
            <li class="mx-2">
                <a href="#" class="text-white font-semibold">Contact</a>
            </li>
        </ul>
    </nav>

    <div class="flex items-center justify-center h-[78vh] bg-slate-100">
        <h2 class="inline-block align-middle text-2xl font-bold">Example App</h2>
    </div>
</body>
</html>